/* Importing the font - Poppin Semi-Bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Setting properties throughout the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Poppins", sans-serif;
}

/* Setting up the variables and the colors */
:root {
    --text-color: #FFFFFF;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5B5E71;
    --placeholder-color: #CCCCCC;
    --out-chat-bg: #343541;
    --in-chat-bg: #444654;
    --out-chat-border: #343541;
    --in-chat-border: #444654;
}

.lightMode {
    --text-color: #343541;
    --icon-color: #A9A9BC;
    --icon-hover-bg: #F1F1F3;
    --placeholder-color: #9F9F9F;
    --out-chat-bg: #FFF;
    --in-chat-bg: #F7F7F8;
    --out-chat-border: #FFF;
    --in-chat-border: #D9D(E3);
}

/* Styling begins Here */
body {
    background-color: var(--out-chat-bg);
}

.chat_container {
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y: auto;
}

/* Next 3 blocks are for custom schroll bar */
:where(.chat_container, textarea)::-webkit-scrollbar{
    width: 6px;
}
:where(.chat_container, textarea)::-webkit-scrollbar-track{
    background: var(--in-chat-bg);
    border-radius: 25px;
}
:where(.chat_container, textarea)::-webkit-scrollbar-thumb{
    background: var(--icon-color);
    border-radius: 25px;
}

.chat_container .chat{
    color: var(--text-color);
    padding: 25px 10px;
    display: flex;
    justify-content: center;
}

.chat_container .chat.out{
    background: var(--out-chat-bg);
    border: 1px solid  var(--out-chat-border);
}

.chat_container .chat.in{
    background: var(--in-chat-bg);
    border: 1px solid  var(--in-chat-border);
}

.chat .chat_details{
    display: flex;
    align-items: center;
}

.chat .chat_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.chat .chat_content span{
    color: var(--icon-color);
    visibility: hidden;
    font-size: 1.3rem;
    cursor: pointer;
}

/* This action will be performed when we hover over the icon */
.chat:hover .chat_content:not(:has(.typingAnimation)) span{
    visibility: visible;
}


.chat .chat_details p{
    padding: 0 50px 0 25px;
    white-space: pre-wrap;
    font-size: 1.05rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.chat .chat_details img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2px;
    align-self: flex-start;
}

span.material-symbols-rounded {
    user-select: none;
    cursor: pointer;
}

/* Setting up the typing animation */
.typingAnimation .Dot {
    height: 7px;
    width: 7px;
    background: var(--text-color);
    opacity: 0.7;
    border-radius: 50%;
    margin: 0 3px;

    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typingAnimation {
    display: inline-flex;
    padding-left: 25px;
}

.typingAnimation .Dot:first-child {
    margin-left: 0;
}

@keyframes animateDots {
    0% , 44% {
        transform: translateY(0px);
    }
    22% {
        opacity: 0.4;
        transform: translateY(-7px);
    }
    22% {
        opacity: 0.2;
        transform: translateY(-7px);
    }
}

/* Styling the typing container */
.typingContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: var(--out-chat-bg);
    border: 1px solid var(--in-chat-border);
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    max-height: 30vh;
}

.typingContent {
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.textBox {
    width: 100%;
    display: flex;
    position: relative;
}

textarea {
    width: 100%;
    height: 55px;
    border: none;
    background: var(--in-chat-bg);
    resize: none;
    color: var(--text-color);
    outline: 1px solid var(--in-chat-border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 15px 45px 15px 20px;
}

textarea::placeholder{
    color: var(--placeholder-color);
}

textarea:valid ~ span {
    visibility: visible;
}

.typingContent span {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.typingControl {
    display: flex;
}

.typingControl span{
    background: var(--in-chat-bg);
    border: 1px solid var(--in-chat-border);
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px;
}

.textBox span{
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}


/* Styling the Default text */
.defaultText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);   
}

.defaultText h1 {
    font-size: 3.3rem;
}

.defaultText p {
    margin-top: 10px;
    font-size: 1.1rem;
}


#Chat_Input {
    max-height: 25vh;
}